<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atom.jobseeker.rent.dao.CommunityDao">
    <insert id="postCmyNewData">
        insert into rent_community select * from community
    </insert>

    <insert id="insertCmy" keyProperty="cmyId" useGeneratedKeys="true" >
        insert into community(cmy_name,cmy_region,cmy_location,cmy_style,cmy_year,cmy_cost,cmy_pmc,region_id,city_id) values(#{cmy.cmyName},#{cmy.cmyRegion},#{cmy.cmyLocation},#{cmy.cmyStyle},#{cmy.cmyYear},#{cmy.cmyCost},#{cmy.cmyPmc},#{cmy.regionId},#{cmy.cityId})
    </insert>
    <insert id="insertNewCmy">
        insert into rent_community(cmy_id,cmy_name,cmy_region,cmy_location,cmy_style,cmy_year,cmy_cost,cmy_pmc,region_id,city_id) values(#{cmy.cmyId},#{cmy.cmyName},#{cmy.cmyRegion},#{cmy.cmyLocation},#{cmy.cmyStyle},#{cmy.cmyYear},#{cmy.cmyCost},#{cmy.cmyPmc},#{cmy.regionId},#{cmy.cityId})
    </insert>

    <update id="updateCmy">
        update rent_community set cmy_name=#{cmy.cmyName},cmy_region=#{cmy.cmyRegion},cmy_location=#{cmy.cmyLocation},cmy_style=#{cmy.cmyStyle},cmy_year=#{cmy.cmyYear},cmy_cost=#{cmy.cmyCost},cmy_pmc=#{cmy.cmyPmc},region_id=#{cmy.regionId},city_id=#{cmy.cityId}
        where cmy_id=#{cmy.cmyId}
    </update>

    <delete id="delDupl" parameterType="list">
        delete from community where cmy_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delCmy">
        delete from community
    </delete>

    <delete id="delOneNewCmy">
        delete from rent_community where cmy_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOneById" resultType="com.atom.jobseeker.rent.pojo.Community">
        select * from rent_community where cmy_id=#{cmyId}
    </select>

    <select id="selectAllCmy" resultType="com.atom.jobseeker.rent.pojo.Community">
        select * from rent_community
    </select>
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*) from rent_community
    </select>
    <select id="selectTotalCountWithQuery" resultType="java.lang.Integer">
        select count(*) from rent_community
        <where>
            <if test="queryVo.query!=''">
                cmy_id = #{queryVo.query} or cmy_name like "%"#{queryVo.query}"%"
            </if>
            <if test="queryVo.cityId!=0">
                and city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.regionId!=0">
                and region_id=#{queryVo.regionId}
            </if>
        </where>
    </select>
    <select id="selectListWithQuery" resultType="com.atom.jobseeker.rent.pojo.Community">
        select * from rent_community
        <where>
            <if test="queryVo.query!=''">
                cmy_id = #{queryVo.query} or cmy_name like "%"#{queryVo.query}"%"
            </if>
            <if test="queryVo.cityId!=0">
                and city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.regionId!=0">
                and region_id=#{queryVo.regionId}
            </if>
        </where>
        limit #{begin},#{pagesize}
    </select>
    <select id="selectCmyIsExist" resultType="java.lang.Integer">
        select count(*) from rent_community where cmy_name=#{cmy.cmyName} and region_id=#{cmy.regionId} and city_id=#{cmy.cityId}
    </select>
</mapper>

