<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atom.jobseeker.rent.dao.HouseDao">
    <insert id="postHouseNewData">
        insert into rent_house select * from house
    </insert>

    <update id="updateCmyId">
        update house set cmy_id=#{idTwo} where cmy_id=#{idOne}
    </update>
    <update id="updateRegion">
        update rent_house set region_id=#{rId},city_id=#{cId} where cmy_id=#{cmyId}
    </update>

    <delete id="delHouse">
        delete from house
    </delete>


    <select id="selectOneById" resultType="com.atom.jobseeker.rent.pojo.House">
        select * from rent_house where h_id=#{hId}
    </select>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*) from rent_house
    </select>

    <select id="selectTotalCountWithQuery" resultType="java.lang.Integer">
        select count(*) from rent_house
        <where>
            <if test="queryVo.query!=''">
                h_id = #{queryVo.query} or h_title like "%"#{queryVo.query}"%"
            </if>
            <if test="queryVo.cityId!=0">
                and city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.regionId!=0">
                and region_id=#{queryVo.regionId}
            </if>
            <if test="queryVo.houseStatus!=''">
                and h_status=#{queryVo.houseStatus}
            </if>
            <if test="queryVo.endPrice!=0.0">
                and h_money between #{queryVo.startPrice} and #{queryVo.endPrice}
            </if>
        </where>
    </select>

    <select id="selectListWithQuery" resultType="com.atom.jobseeker.rent.pojo.House">
        select * from rent_house
        <where>
            <if test="queryVo.query!=''">
                h_id = #{queryVo.query} or h_title like "%"#{queryVo.query}"%"
            </if>
            <if test="queryVo.cityId!=0">
                and city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.regionId!=0">
                and region_id=#{queryVo.regionId}
            </if>
            <if test="queryVo.houseStatus!=''">
                and h_status=#{queryVo.houseStatus}
            </if>
            <if test="queryVo.endPrice!=0.0">
                and h_money between #{queryVo.startPrice} and #{queryVo.endPrice}
            </if>
        </where>
        limit #{begin},#{pagesize}
    </select>
    <select id="selectStatus" resultType="java.lang.String">
        select h_status from rent_house where h_id=#{hId}
    </select>
    <select id="selectHouseList" resultType="com.atom.jobseeker.rent.pojo.House">
        select * from rent_house where h_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>

