<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atom.jobseeker.rent.dao.HouseDao">
    <insert id="postHouseNewData">
        insert into rent_house select * from house
    </insert>
    <insert id="insertNewHouse">
        insert into rent_house values(#{house.hosId},#{house.hosTitle},#{house.hosMoney},#{house.hosPay},#{house.hosManner},#{house.hosStyle},#{house.hosTowards},#{house.hosTag},#{house.hosIntro},#{house.hosSmallImg},#{house.hosImgUrl},#{house.hosFacility},#{house.hosArea},#{house.hosFloor},#{house.hosDate},#{house.hosStatus},#{house.cmyId},#{house.regionId},#{house.cityId})
    </insert>
    <insert id="insertHouse" keyProperty="hosId" useGeneratedKeys="true">
        insert into house(hos_title,hos_money,hos_pay,hos_manner,hos_style,hos_towards,hos_tag,hos_intro,hos_smallImg,hos_imgUrl,hos_facility,hos_area,hos_floor,hos_date,hos_status,cmy_id,region_id,city_id) values(#{house.hosTitle},#{house.hosMoney},#{house.hosPay},#{house.hosManner},#{house.hosStyle},#{house.hosTowards},#{house.hosTag},#{house.hosIntro},#{house.hosSmallImg},#{house.hosImgUrl},#{house.hosFacility},#{house.hosArea},#{house.hosFloor},#{house.hosDate},#{house.hosStatus},#{house.cmyId},#{house.regionId},#{house.cityId})
    </insert>


    <update id="updateCmyId">
        update house set cmy_id=#{idTwo} where cmy_id=#{idOne}
    </update>
    <update id="updateRegion">
        update rent_house set region_id=#{rId},city_id=#{cId} where cmy_id=#{cmyId}
    </update>

    <update id="updateOneHouse">
        update rent_house set hos_title=#{house.hosTitle},hos_money=#{house.hosMoney},hos_pay=#{house.hosPay},hos_Manner=#{house.hosManner},hos_style=#{house.hosStyle},hos_towards=#{house.hosTowards},hos_tag=#{house.hosTag},hos_intro=#{house.hosIntro},hos_area=#{house.hosArea},hos_floor=#{house.hosFloor},cmy_id=#{house.cmyId} where hos_id=#{house.hosId}
    </update>

    <delete id="delHouse">
        delete from house
    </delete>

    <delete id="delNewHouseByCmyId">
        delete from rent_house where cmy_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delNewHouseByIds">
        delete from rent_house where hos_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delHouseById">
        delete from house where hos_id=#{id}
    </delete>


    <select id="selectOneById" resultType="com.atom.jobseeker.rent.pojo.House">
        select * from rent_house where hos_id=#{hosId}
    </select>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*) from rent_house
    </select>

    <select id="selectTotalCountWithQuery" resultType="java.lang.Integer">
        select count(*) from rent_house
        <where>
            <if test="queryVo.query!=''">
                hos_id = #{queryVo.query} or hos_title like "%"#{queryVo.query}"%"
            </if>
            <if test="queryVo.cityId!=0">
                and city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.regionId!=0">
                and region_id=#{queryVo.regionId}
            </if>
            <if test="queryVo.houseStatus!=''">
                and hos_status=#{queryVo.houseStatus}
            </if>
            <if test="queryVo.endPrice!=0.0">
                and hos_money between #{queryVo.startPrice} and #{queryVo.endPrice}
            </if>
        </where>
    </select>

    <select id="selectListWithQuery" resultType="com.atom.jobseeker.rent.pojo.House">
        select * from rent_house
        <where>
            <if test="queryVo.query!=''">
                hos_id = #{queryVo.query} or hos_title like "%"#{queryVo.query}"%"
            </if>
            <if test="queryVo.cityId!=0">
                and city_id=#{queryVo.cityId}
            </if>
            <if test="queryVo.regionId!=0">
                and region_id=#{queryVo.regionId}
            </if>
            <if test="queryVo.houseStatus!=''">
                and hos_status=#{queryVo.houseStatus}
            </if>
            <if test="queryVo.endPrice!=0.0">
                and hos_money between #{queryVo.startPrice} and #{queryVo.endPrice}
            </if>
        </where>
        limit #{begin},#{pagesize}
    </select>

    <select id="selectStatus" resultType="java.lang.Short">
        select hos_status from rent_house where hos_id=#{hosId}
    </select>

    <select id="selectHouseList" resultType="com.atom.jobseeker.rent.pojo.House">
        select * from rent_house where hos_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>

