<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atom.jobseeker.post.dao.JobDao">
    <insert id="insert">
        insert into pos_job(name, salary, welfare, area, experience, education, people_count, issue_date, issue_status, job_info, company_id, city_id, major_id)
        values (#{job.name},#{job.salary},#{job.welfare},#{job.area},#{job.experience},#{job.education},#{job.peopleCount},#{job.issueDate},#{job.issueStatus},#{job.jobInfo},#{job.companyId},#{job.cityId},#{job.majorId})
    </insert>
    <update id="updateBathIssueStatus">
        update job set issue_status = #{status} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectOneById" resultType="Job">
        select *
        from job
        where id = #{id}
    </select>
    <select id="selectListWithQuery" resultType="com.atom.jobseeker.post.pojo.Job">
        select * from job
        <where>
            <if test="queryInfo.query != ''">
                and id = #{queryInfo.query} or name like "%"#{queryInfo.query}"%"
            </if>
            <if test="queryInfo.cityId != 0">
                and city_id = #{queryInfo.cityId}
            </if>
            <if test="queryInfo.majorId != 0">
                and major_id = #{queryInfo.majorId}
            </if>
            <if test="queryInfo.issueStatus != ''">
                and issue_status = #{queryInfo.issueStatus}
            </if>
            <if test="queryInfo.issueDate != ''">
                and issue_date like #{queryInfo.issueDate}"%"
            </if>
        </where>
        order by issue_date desc limit #{begin}, #{pageSize}
    </select>
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*)
        from job
    </select>
    <select id="selectIssueStatus" resultType="java.lang.String">
        select issue_status
        from job
        where id = #{id}
    </select>
    <select id="selectListById" resultType="com.atom.jobseeker.post.pojo.Job">
        select * from job where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectCountWithQuery" resultType="java.lang.Long">
        select count(*) from job where id = #{queryInfo.query} or name like "%"#{queryInfo.query}"%"
        <if test="queryInfo.cityId != 0">
            and city_id = #{queryInfo.cityId}
        </if>
        <if test="queryInfo.majorId != 0">
            and major_id = #{queryInfo.majorId}
        </if>
        <if test="queryInfo.issueStatus != ''">
            and issue_status = #{queryInfo.issueStatus}
        </if>
        <if test="queryInfo.issueDate != ''">
            and issue_date like #{queryInfo.issueDate}"%"
        </if>
    </select>
    <select id="selectListByCompanyId" resultType="com.atom.jobseeker.post.pojo.Job">
        select * from job where company_id = #{id}
    </select>


</mapper>

