<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atom.jobseeker.post.dao.JobDao">
    <update id="updateIssueStatus">
        update job set issue_status = #{status} where id = #{id}
    </update>
    <select id="selectOneById" resultType="Job">
        select * from job where id = #{id}
    </select>
    <select id="selectListWithLimit" resultType="com.atom.jobseeker.post.pojo.Job">
        select * from job limit #{begin}, #{pageSize}
    </select>
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*) from job
    </select>
    <select id="selectIssueStatus" resultType="java.lang.String">
        select issue_status from job where id = #{id}
    </select>

</mapper>

